<div class="min-h-screen pl-5 md:pl-20 lg:pl-[124px] pr-5 md:pr-[80px] pt-[53px]">
    <div class="flex flex-col lg:flex-row justify-between w-full h-full">
        <div class="lg:w-[40%]">
            <div>
                <img src="/logo.svg" routerLink="/" class="w-[120px] cursor-pointer" alt="">
            </div>

            <h1 class="text-[24px] lg:text-[40px] font-bold text-primary mt-5">Under Development</h1>
            <p class="text-primary mt-3">
                E Willow is an innovative platform currently under development, designed to deliver exceptional digital
                solutions and user experiences. Stay tuned for a unique blend of creativity and technology!
            </p>

            <div class="relative z-0 w-full mb-6 group mt-10 max-w-[345px]">
                <input type="text" id="floating_input" name="floating_input"
                    class="block py-2.5 px-2.5 w-full text-sm text-gray-900 bg-transparent border border-gray-300 rounded-lg appearance-none focus:outline-none focus:ring-blue-600 focus:border-[#002981] peer"
                    placeholder=" " required />
                <label for="floating_input"
                    class="absolute text-sm text-gray-500 duration-300 transform -translate-y-3 scale-75 top-[5%] left-3 bg-white px-1 origin-[0] peer-placeholder-shown:translate-y-2.5 peer-placeholder-shown:scale-100 peer-focus:-translate-y-3 peer-focus:scale-75 peer-focus:text-[#002981]">
                    Enter your text
                </label>
            </div>

            <button class="max-w-[345px] w-full h-[64px] bg-primary text-white rounded">Subscribe</button>
            <div class="mt-20">
                <span class="text-[#333333]">You can also follow us on</span>
                <div class="flex gap-3 mt-3 pl-2">
                    <img src="/fb.svg" class="cursor-pointer" alt="">
                    <img src="/insta.svg" class="cursor-pointer" alt="">
                    <img src="/x.svg" class="cursor-pointer" alt="">
                    <img src="/yt.svg" class="cursor-pointer" alt="">
                    <img src="/in.svg" class="cursor-pointer" alt="">
                </div>
            </div>
        </div>

        <div class="hidden lg:block lg:max-w-[400px] xl:max-w-[700px]">
            <img src="/under.png" class="" alt="">
        </div>
    </div>
    <div class="text-[#828282] mt-24">
        © Copyrights E-Willow | All Rights Reserved
    </div>
</div>