<!-- hero section -->
<div class="hero-section">
    <div class="ml-[30px] lg:ml-[31px]">
        <h2 class="hero-text translate-y-[-70%]">
            Smart Devices, <br>
            <span class="xl:pl-[90px]"> Smarter
                Future</span>
        </h2>
        <!-- <button class="hero-btn">Discover
            More</button> -->
    </div>

    <!-- AC -->
    <div class="rounded-full w-2 h-2 bg-amber-500  animate-pingg absolute top-[10%] left-[46%]">
        <!-- <img src="/wifi.svg" alt=""> -->
        <div class="w-full h-full flex justify-center items-center">
            <div class="w-1 h-1 bg-amber-500"></div>
        </div>
    </div>
    <!-- camera -->
    <div class="rounded-full w-2 h-2 bg-amber-500  animate-pingg absolute top-[59%] left-[34.8%]">
        <!-- <img src="/wifi.svg" alt=""> -->
        <div class="w-full h-full flex justify-center items-center">
            <div class="w-1 h-1 bg-amber-500"></div>
        </div>
    </div>
    <!-- left btn -->
    <div class="rounded-full w-2 h-2 bg-amber-500  animate-pingg absolute top-[69%] left-[23.2%]">
        <!-- <img src="/wifi.svg" alt=""> -->
        <div class="w-full h-full flex justify-center items-center">
            <div class="w-1 h-1 bg-amber-500"></div>
        </div>
    </div>
    <!-- right btn -->
    <div class="rounded-full w-2 h-2 bg-amber-500  animate-pingg absolute top-[69%] left-[75.2%]">
        <!-- <img src="/wifi.svg" alt=""> -->
        <div class="w-full h-full flex justify-center items-center">
            <div class="w-1 h-1 bg-amber-500"></div>
        </div>
    </div>
    <!-- lamp -->
    <div class="rounded-full w-2 h-2 bg-amber-500  animate-pingg absolute top-[17%] left-[89%]">
        <!-- <img src="/wifi.svg" alt=""> -->
        <div class="w-full h-full flex justify-center items-center">
            <div class="w-1 h-1 bg-amber-500"></div>
        </div>
    </div>
    <!-- TV -->
    <div class="rounded-full w-2 h-2 bg-amber-500 animate-pingg absolute top-[50%] left-[52%]">
        <!-- <img src="/wifi.svg" alt=""> -->
        <div class="w-full h-full flex justify-center items-center">
            <div class="w-1 h-1 bg-amber-500"></div>
        </div>
    </div>

</div>

<!-- 1st section -->
<div class="section1">
    <div class="flex-class-col lg:order-2 lg:w-[30%] lg:mr-[10%]">
        <img src="/assets/home/img-man.svg" class="w-[159px] lg:w-[306px] xl:w-[430px]" alt="man-img">
    </div>
    <div class="section1-in">
        <h2 class="text-nowrap">
            Smart Devices, Smarter Future
        </h2>
        <p class="!text-justify">
            Empowering Your Future with Smart Technology or you can say Unlock a Smarter Tomorrow with Our Innovative
            Smart Devices. This version emphasizes the impact your products will have on the customer’s future, while
            highlighting the role of smart technology in that transformation.
        </p>
        <div class="absolute left-0 bottom-0 lg:hidden">
            <img src="/assets/home/bg-text.svg" alt="bg-text">
        </div>
        <button class="discover-btn">Discover
            More</button>
    </div>
    <div class="absolute  top-[10px] xl:top-[-30px] left-0 bottom-0 hidden lg:block">
        <img src="/assets/home/tac.svg" class="w-[50%] xl:h-[500px] xl:w-[80%]" alt="bg-text">
    </div>
</div>

<!-- Best in E-willow smart system -->

<div class="main-smart">
    <div class=" lg:flex justify-between">
        <div class="lg:w-[55%]">
            <div class="max-w-[354px] lg:max-w-[540px]">
                <div>
                    <h2 class="text-[15px] lg:text-[28px] xl:text-[36px] font-bold">Best in E-willow smart system</h2>
                    <p class="text-[9px] lg:text-[12px] mt-[11px] xl:text-base">Upgrade your Home/Office with our range
                        of
                        advanced smart devices,
                        including
                        smart sensors,
                        smart cameras, smart touch switches, and smart bulbs. Designed to enhance convenience, security,
                        and
                        efficiency, our products integrate seamlessly with your daily life, making your home smarter and
                        more
                        connected.</p>
                </div>
                <div class="lg:hidden">
                    <div class="bg-[#fff] w-full mt-[26px] mb-4 h-[0.5px]"></div>
                    <div class="flex items-center">
                        <img src="/assets/home/bulb.svg" alt="bulb">
                        <div class="pl-2">
                            <h2 class="text-[12px] font-bold">Easy Installation</h2>
                            <p class="text-[9px]">E-WILLOW makes it easy to install smart lighting and other products
                                for your home or office with a seamless, trusted installation process.
                                .</p>
                        </div>
                    </div>
                    <div class="bg-[#fff] w-full my-4 h-[0.5px]"></div>
                    <div class="flex items-center">
                        <img src="/assets/home/signal.svg" alt="bulb">
                        <div class="pl-2">
                            <h2 class="text-[12px] font-bold">Control from anywhere</h2>
                            <p class="text-[9px]">Smartphones, Tablets and voice assistants make it simple to control
                                your smart home/office devices from anywhere, even when you're away.
                            </p>
                        </div>
                    </div>
                    <div class="bg-[#fff] w-full my-4 h-[0.5px]"></div>
                    <div class="flex items-center">
                        <img src="/assets/home/star.svg" alt="bulb">
                        <div class="pl-2">
                            <h2 class="text-[12px] font-bold">Custom & retro fit</h2>
                            <p class="text-[9px]">Transform your home/office with smart lighting to fit your unique
                                needs. Our expert team ensures a seamless setup and won't leave until everything meets
                                your satisfaction!
                            </p>
                        </div>
                    </div>
                    <div class="bg-[#fff] w-full my-4 h-[0.5px]"></div>
                </div>
            </div>
            <div class="lg:mt-4 xl:mt-6 mb-4">
                <h2 class="font-bold text-[12px] lg:text-[22px] xl:text-[30px]">Why Choose Us?</h2>
                <ul class="why-chose-ul pl-[4px] xl:pl-[33px]">
                    <li>
                        App Control
                    </li>
                    <li>
                        Voice Command Integration
                    </li>
                    <li>
                        Smart Scene Creation
                    </li>
                    <li>
                        Timer & Scheduling
                    </li>
                    <li>
                        Sleek Design
                    </li>
                </ul>
            </div>

        </div>
        <div class="hidden lg:block lg:w-[45%]">
            <div class="bg-[#fff] w-full mt-[26px] mb-4 h-[0.5px]"></div>
            <div class="flex items-center">
                <img src="/assets/home/bulb-2.svg" class="w-[28px] xl:w-[39px]" alt="bulb">
                <div class="pl-4">
                    <h2 class="text-[18px] font-bold xl:text-[25px]">Easy Installation</h2>
                    <p class="text-[12px] xl:text-base">E-WILLOW makes it easy to install smart lighting and other
                        products
                        for your home or office with a seamless, trusted installation process.</p>
                </div>
            </div>
            <div class="bg-[#fff] w-full my-4 h-[0.5px]"></div>
            <div class="flex items-center">
                <img src="/assets/home/signal-2.svg" class="w-[26px] xl:w-[37px]" alt="bulb">
                <div class="pl-4">
                    <h2 class="text-[18px] font-bold xl:text-[25px]">Control from anywhere</h2>
                    <p class="text-[12px] xl:text-base">Smartphones, Tablets and voice assistants make it simple to
                        control
                        your smart home/office devices from anywhere, even when you're away.</p>
                </div>
            </div>
            <div class="bg-[#fff] w-full my-4 h-[0.5px]"></div>
            <div class="flex items-center">
                <img src="/assets/home/star-2.svg" class="w-[34px] xl:w-[48px]" v alt="bulb">
                <div class="pl-4">
                    <h2 class="text-[18px] font-bold xl:text-[25px]">Custom & retro fit</h2>
                    <p class="text-[12px] xl:text-base">Transform your home/office with smart lighting to fit your
                        unique
                        needs. Our expert team ensures a seamless setup and won't leave until everything meets
                        your satisfaction!
                    </p>
                </div>
            </div>
            <div class="bg-[#fff] w-full my-4 h-[0.5px]"></div>
        </div>
    </div>
</div>

<!-- about us -->
<div class="px-[29px] lg:px-[70px] xl:px-[100px] text-[#002981]">
    <h2 class="text-[15px] font-bold my-[26px] lg:mt-[40px] lg:text-[32px] xl:text-[45px]">About Us</h2>

    <div class="flex flex-col items-center justify-center gap-y-[18px] lg:gap-x-4 lg:flex-row">
        <div class="about-us-data">
            <img src="/assets/home/mession.svg" alt="mission">
            <h2 class="font-bold text-[22px] xl:text-[28px]">Our Mission</h2>
            <p class="text-[12px] text-center pt-3 xl:text-base">
                {{ getTruncatedText(missionText, seeMoreState) }}
                <span *ngIf="!seeMoreState">...</span>
                <span *ngIf="seeMoreState">{{ missionText.slice(40) }}</span>
            </p>
            <strong class="text-[12px] font-bold xl:text-base cursor-pointer" (click)="seeMore(1)">
                {{ seeMoreState ? 'Read Less' : 'Read More' }}
            </strong>
        </div>

        <div class="about-us-data">
            <img src="/assets/home/history.svg" alt="history">
            <h2 class="font-bold text-[22px] xl:text-[28px]">History</h2>
            <p class="text-[12px] text-center pt-3 xl:text-base">
                {{ getTruncatedText(historyText, seeMoreState1) }}
                <span *ngIf="!seeMoreState1">...</span>
                <span *ngIf="seeMoreState1">{{ historyText.slice(40) }}</span>
            </p>
            <strong class="text-[12px] font-bold xl:text-base cursor-pointer" (click)="seeMore(2)">
                {{ seeMoreState1 ? 'Read Less' : 'Read More' }}
            </strong>
        </div>
        <div class="about-us-data">
            <img src="/assets/home/power.svg" alt="powerpower">
            <h2 class="font-bold text-[22px] xl:text-[22px]">Empowering a Smarter Future</h2>
            <p class="text-[12px] text-center pt-3 xl:text-base">
                {{ getTruncatedText(powerText, seeMoreState2) }}
                <span *ngIf="!seeMoreState2">...</span>
                <span *ngIf="seeMoreState2">{{ powerText.slice(40) }}</span>
            </p>
            <strong class="text-[12px] font-bold xl:text-base cursor-pointer" (click)="seeMore(3)">
                {{ seeMoreState2 ? 'Read Less' : 'Read More' }}
            </strong>
        </div>

        <!-- <div class="about-us-data" [ngClass]="{'!h-fit': seeMoreState2}">
            <img src="/assets/home/power.svg" alt="mission">
            <h2 class="font-bold text-[22px] xl:text-[28px] text-center">Empowering a Smarter Future</h2>
            <p class="text-[12px] text-center pt-3 xl:text-base" [ngClass]="{'!h-fit': seeMoreState2}">
                Since launching, we’ve steadily grown, gaining recognition for our commitment to quality and
                accessibility...
                <span *ngIf="seeMoreState2">
                    Our vision is to make technology affordable and accessible for all, ensuring that everyone has the
                    opportunity to benefit from the latest advancements.
                </span>
            </p>
            <strong class="text-[12px] font-bold xl:text-base cursor-pointer" (click)="seeMore(3)">
                {{ seeMoreState2 ? 'Read Less' : 'Read More' }}
            </strong>
        </div> -->

    </div>

</div>

<!-- Core Values -->

<div class="px-[29px] lg:px-[70px] xl:px-[100px] mt-[48px] text-[#002981]">
    <h2 class="font-bold text-[15px] lg:text-[32px] xl:text-[45px] lg:mb-4">Core Values</h2>
    <div class="flex flex-col lg:flex-row justify-center items-center">
        <img src="/assets/home/clap.svg" class="w-[165px] lg:w-[270px] xl:w-[380px]" alt="">
        <div class="lg:pl-3">
            <p class="text-[9px] lg:text-[14px] xl:text-[20px] pt-[15px] text-justify">Constantly pursuing
                cutting-edge solutions that
                enhance
                everyday life.
                Making
                smart technology affordable and user-friendly for everyone. Delivering high-performance, reliable
                products
                that ensure a seamless experience. </p>
            <p class="pt-[15px] text-[9px] lg:text-[14px] xl:text-[20px] text-justify">Creating intuitive technology
                that simplifies
                life and boosts
                productivity.
                Putting our
                customers’ needs
                first to drive success and satisfaction. Designing eco-friendly, energy-efficient products for a
                sustainable
                future. Combining global trends with local relevance to stay competitive. Operating with transparency
                and
                ethics in all our business relationships.</p>
        </div>
    </div>
</div>

<!-- get in touch -->

<div id="section1"></div>

<div class="get-in-main">
    <h2 class="get-in-h2">Get In Touch
    </h2>
    <div class="get-in-team">
        <div class="get-in-teamz">
            <div>
                <p class="get-suppot-p max-w-[80%]">If you have any query, our
                    support team is ready to solution for all your query.</p>
                <div class="xl:mt-[52px] lg:mt-[33px] mt-[17px]">
                    <div class="flex items-center ">
                        <img class="get-in-img" src="/whatsapp-icon.svg" alt="">
                        <p>+91 91730 40280</p>
                    </div>
                    <div class="flex items-center xl:mt-5 lg:mt-[14.25px] mt-[6px]">
                        <img class="get-in-img" src="/mail-icon.svg" alt="">
                        <p>info&#64;e-willow.com</p>
                    </div>
                    <div class="flex items-center xl:mt-5 lg:mt-[14.25px] mt-[6px]">
                        <img class="get-in-img" src="/map-icon.svg" alt="">
                        <p>India</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:w-[45%] w-full px-[21px] lg:px-0 mt-[24.5px] lg:mt-0 ">
            <div class="get-in-name">
                <input class="outline-none w-full" type="text" placeholder="Name">
            </div>
            <div class="get-in-mail">
                <input class="outline-none w-full" type="text" placeholder="Email">
            </div>
            <div class="get-in-msg">
                <input class="outline-none h-14 w-full" type="text" placeholder="Message">
            </div>
            <button class="get-in-btn">Send</button>
        </div>
    </div>
</div>



<!-- FAQs -->

<div class="px-[30px] lg:px-[70px] xl:px-[100px] mt-[48px] text-[#002981] mb-5 lg:mb-10">
    <h2 class="font-bold text-[15px] lg:text-[32px] xl:text-[45px] lg:mb-4">FAQs</h2>
    <div class="flex flex-col w-full">
        <div *ngFor="let faq of faqs; let i = index" class="border-b last:border-b-0">
            <!-- Question -->
            <button class="w-full flex items-center justify-between py-2 lg:py-4 focus:outline-none"
                (click)="toggleFAQ(i)">
                <span class="text-[10px] text-left lg:text-[18px] xl:text-[26px]">{{ faq.question }}</span>
                <!-- Plus/Minus Image -->
                <img *ngIf="activeFAQ === i" src="assets/home/minus.svg" alt="Minus"
                    class="ml-auto transition-transform transform lg:w-[22px]" />
                <img *ngIf="activeFAQ !== i" src="assets/home/plus.svg" alt="Plus"
                    class="ml-auto transition-transform transform lg:w-[22px]" />
            </button>

            <!-- Answer -->
            <div *ngIf="activeFAQ === i" class="overflow-hidden transition-all duration-300 ease-in-out ">
                <p class="py-2 text-black text-[10px] lg:text-[17px] xl:text-[23px]">{{ faq.answer }}</p>
            </div>
        </div>
    </div>
</div>