.hero-section {
  @apply bg-[url('/bggg.png')] bg-cover bg-center w-screen bg-no-repeat h-[35vw] flex items-center relative;
}

.hero-text {
  @apply italic font-bold lg:text-[36px] lg:leading-[34.7px] xl:text-[50px] xl:leading-[60px] text-white;
}

.flex-class-col {
  @apply flex flex-col items-center justify-center;
}

.discover-btn {
  @apply mt-5 bg-[#002982] hover:bg-[#002982] text-white text-[6px]  lg:text-[14px] xl:text-[20px] font-bold py-1 px-2 lg:py-3 lg:px-5 rounded;
}

.main-smart {
  @apply *:px-6 *:lg:px-[70px] *:w-full mt-[30px]  *:bg-[#002982]/70 text-white *:pt-[26px] bg-[url('/assets/home/smart-bg.jpg')] bg-center bg-cover bg-no-repeat w-full h-full flex items-center;
}

.hero-btn {
  @apply bg-white text-[6px] lg:text-[12px] xl:text-[15px] px-2 py-1 lg:px-3 lg:py-2 xl:px-5 xl:py-3 rounded-[1px] lg:mt-5 xl:mt-7 lg:rounded;
}

.section1 {
  @apply mt-5 lg:flex justify-between lg:px-[76px] lg:w-full lg:relative;
}
.section1-in {
  @apply px-[85px] lg:max-w-[440px] xl:max-w-[600px] lg:px-0 relative flex-class-col lg:order-1 lg:w-[70%];
}
.section1-in h2 {
  @apply text-center text-[#002981] text-[15px] lg:text-[28px] xl:text-[40px] font-bold mt-5;
}
.section1-in p {
  @apply text-center text-[#002981] text-[9px] lg:text-[14px] xl:text-[20px] mt-1 xl:mt-3 xl:mb-2;
}

.why-chose-ul {
  @apply list-disc font-semibold lg:font-normal text-[10px] lg:text-[14px] xl:text-[20px] mt-3 flex flex-wrap lg:flex-col lg:items-start items-center gap-x-8 text-nowrap;
}
.view-more-btn {
  @apply px-3 py-1 lg:px-6 lg:py-2 border border-white rounded-[1.81px] lg:rounded text-[7.28px] lg:text-[14px];
}

.about-us-data {
  @apply max-w-[300px] lg:max-w-[unset] lg:w-full p-[40px] lg:py-5 lg:px-2 xl:px-5 flex flex-col justify-center items-center border border-[#002982] rounded-[4.5px];
}

.custom-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.get-in-main {
  @apply xl:px-[100px] lg:px-[70.18px] text-[#002981] px-[30px];
}
.get-in-h2 {
  @apply xl:text-[45px] lg:text-[32px] text-[15px] font-bold xl:my-[50px] my-[18px] lg:my-[36px];
}

.get-in-team {
  @apply flex lg:flex-row flex-col justify-center w-full items-center custom-shadow p-5 lg:h-[365.87px] xl:h-[514px] h-[423px] mb-5 rounded-[10px];
}
.get-in-teamz {
  @apply lg:w-[45%] px-[21px] lg:px-0 w-full xl:text-[18px] text-[10px] lg:text-[14px] flex flex-col mr-3 xl:mt-[-70px];
}
.get-suppot-p {
  @apply font-medium lg:leading-[21px] xl:leading-[27px] mt-[26px] lg:mt-0;
}
.get-in-img {
  @apply xl:w-[19px] lg:w-[13.5px] xl:h-[19px] lg:h-[13.5px] mr-[13px] w-[10.2px] h-[10.2px];
}
.get-in-name {
  @apply flex items-center xl:h-[54px] lg:h-[38.44px] h-[33.8px] border border-[#C9C9C9] px-4 rounded-sm;
}
.get-in-mail {
  @apply flex items-center xl:h-[54px] h-[33.8px] lg:h-[38.44px] border border-[#C9C9C9] lg:mt-[12.1px] xl:mt-[17px] mt-[10.6px] px-4 rounded-sm;
}
.get-in-msg {
  @apply flex xl:h-[152px] mt-[10.6px] h-[95px] lg:h-[108.2px] border border-[#C9C9C9] lg:mt-[12.1px] xl:mt-[17px] px-4 rounded-sm;
}
.get-in-btn {
  @apply xl:h-[50px] lg:h-[35.6px] h-[31.2px] bg-[#002982] rounded-sm font-bold lg:text-[15px] xl:text-[20px] text-white lg:px-[22px] px-[20px] xl:px-[40px] lg:mt-[18px] xl:mt-[25px] mt-[15px];
}

@keyframes pingg {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.animate-pingg {
  animation: pingg 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}
