<div class="xl:px-[100px] lg:px-[70.18px] text-[#002981] px-[30px]">
    <h2 class="xl:text-[45px] lg:text-[32px] text-[15px] font-bold xl:my-[50px] my-[18px] lg:my-[36px]">Get In Touch</h2>
    <div class="flex lg:flex-row flex-col justify-center w-full items-center custom-shadow p-5 lg:h-[365.87px] xl:h-[514px] h-[423px] mb-5 rounded-[10px]">
        <div class="lg:w-[45%] px-[21px] lg:px-0 w-full xl:text-[18px] text-[10px] lg:text-[14px] flex flex-col mr-3 xl:mt-[-70px]">
            <div>
                <p class=" font-medium lg:leading-[21px] xl:leading-[27px] mt-[26px] lg:mt-0">If you have any query, our support team is ready to <br> solution for all your query.</p>
            <div class="xl:mt-[52px] lg:mt-[33px] mt-[17px]">
                <div class="flex items-center ">
                    <img class="xl:w-[19px] lg:w-[13.5px] xl:h-[19px] lg:h-[13.5px] mr-[13px] w-[10.2px] h-[10.2px]" src="/whatsapp-icon.svg" alt="">
                    <p>+91 91730 40280</p>
                </div>
                <div class="flex items-center xl:mt-5 lg:mt-[14.25px] mt-[6px]">
                    <img class="xl:w-[19px] lg:w-[13.5px] xl:h-[19px] lg:h-[13.5px] mr-[13px] w-[10.2px] h-[10.2px]" src="/mail-icon.svg" alt="">
                    <p>info&#64;e-willow.com</p>
                </div>
                <div class="flex items-center xl:mt-5 lg:mt-[14.25px] mt-[6px]">
                    <img class="xl:w-[19px] lg:w-[13.5px] xl:h-[19px] lg:h-[13.5px] mr-[13px] w-[10.2px] h-[10.2px]" src="/map-icon.svg" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit</p>
                </div>
            </div>
            </div>
        </div>
        <div class="lg:w-[45%] w-full px-[21px] lg:px-0 mt-[24.5px] lg:mt-0 ">
            <div class="flex items-center xl:h-[54px] lg:h-[38.44px] h-[33.8px] border border-[#C9C9C9] px-4 rounded-sm">
                <input class="outline-none w-full" type="text" placeholder="Name">
            </div>
            <div class="flex items-center xl:h-[54px] h-[33.8px] lg:h-[38.44px] border border-[#C9C9C9] lg:mt-[12.1px] xl:mt-[17px] mt-[10.6px] px-4 rounded-sm">
                <input class="outline-none w-full" type="text" placeholder="Email">
            </div>
            <div class="flex xl:h-[152px] mt-[10.6px] h-[95px] lg:h-[108.2px] border border-[#C9C9C9] lg:mt-[12.1px] xl:mt-[17px] px-4 rounded-sm">
                <input class="outline-none h-14 w-full" type="text" placeholder="Message">
            </div>
            <button class="xl:h-[50px] lg:h-[35.6px] h-[31.2px] bg-[#002982] rounded-sm font-bold lg:text-[15px] xl:text-[20px] text-white lg:px-[22px] px-[20px] xl:px-[40px] lg:mt-[18px] xl:mt-[25px] mt-[15px]">Send</button>
        </div>
    </div>
</div>
